#root {
  margin: 0 auto;
}
#mobile-Comments{
  display: block;
}

#desktop-Comments{
  display: none;
}

@media screen and (min-width:600px) {
    
  #desktop-Comments{
      display: block;
  }
  
  #mobile-Comments{
    display: none;
  }

 
}
